# Environment variables and sensitive info
.env
env.txt
env

# Cached Python files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Output files
output/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 